[{twitterfeeder, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "Ea0XdY8I25e4ObfyY0HHUA8eu"},
	    {api_secret, "HYGV3Glm1IlZ8wM413WOtRuoWOJpacj2D1hTmTntG7DAytidLD"},
	    {access_token, "3804584416-CofMwnXk9EneusB8Nn0cKuaaBmusjq101c6QMYK"},
	    {access_token_secret, "4yulZs4QvxvKeUwbshA3nMMMJTBlpHWbV0i5SB3RJreh8"}]}]},
  {riak_nodes, [
    {riak1, [
	    {host, "127.0.0.1"},
	    {port, 10017}]}]}]}].
