@charset "utf-8";

html, body {
	overflow: scroll;
	background-color:#34495e;
}

header{
    width:100%;
    float:left;
    margin-bottom:25px;
    font-family: 'Indie Flower', cursive;
}


selection{
    width:100%;
    margin-left:120px;
    font-size: 150%;
    color:#696969;
    float:left;
    font-family: Century Gothic, sans-serif;
}


nav{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    float:left;
    margin-top:10px;
}

.nav-item{
    font-family:'Indie Flower', cursive;
    margin-left:25px;
    margin-right:25px;
    float:left;
    cursor:pointer;
    color:#696969;
}

.current-link {
     color:#000;
     font-weight:bold;
     pointer-events: none;
     cursor:default;
}

.nav-item a:hover{
    color:#e74c3c !important;
}

.nav-item a:link {
    text-decoration: none;
    color:#696969;
}

.nav-item a:visited {
    text-decoration: none;
    color:#696969;
}

#logo {
    float:left;
    padding-left:15px;
    padding-top:15px;
    font-size: 30px;
}

#wrapper{
    background:#FFF;
    width:1080px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    padding:0;
}

#game {
    /*NEW*/
    margin-left:auto;
    margin-right:auto;
    margin-left:140px;
    float:left;
    background-image:url(../img/soccer-stadium-800x500.jpg);
}

#board {
    /*NEW*/
    width:600px; 
    height:500px;
    float:left;
}

/*NEW*/
#tweetWrapper {
    background:rgba(207, 226, 243, 1);/*"#cfe2f3"*/;
    width:196px;
    height:496px;
    float:left;
    margin:0;
    border:2px solid #3c78d8;
}

/*NEW*/
.tweetBox {
    background:white;
    border:1px solid black;
}

/*NEW*/
.tweetBoxTitle {
    color:#3c78d8;
    font-weight:bold;
    text-align:center;
    width:100%;
    float:left;
    margin-top:5px;
}
 /*NEW*/
.tweetBoxContent {
    margin-left:10px;
}

/*NEW*/
.tweetBoxAtText {
    font-weight:bold;
}

#select_char {
    text-align: center;
    border-style: solid;
}

#select_box {
    width: 150px;
    height: 20px;
    margin-left: 450px;
    margin-right: auto;
}

#hitBox {
    width:100%;
    height:auto;
    background:#000;
}

#hit1 {
    float:left;
    margin-left:360px;
    margin-right:auto;
    margin-top:10px;
}

#hit2 {
    float:left;
    margin-left:360px;
    margin-right:auto;
    margin-top:10px;
}

#username {
    float:right;
    color:#fff;
    background:#4099FF;
    padding:10px 20px 10px 20px;
    border-radius: 0 0 0 25px;
}

/* characters */

#character-list{
    width:69%;
    float:left;
    margin-left:3%;
    background:#ecf0f1;
    padding:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
    font-family: 'Indie Flower', cursive;
}

#character-cart{
    margin-left:3%;
    margin-right:3%;
    width:24%;
    background:#ecf0f1;
    float:left;
    padding:15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.celeb-box{
    width:21%;
    padding: 100px 5px 100px 5px;
    margin:10px 2% 10px 2%;
    outline:2px solid #34495e;
    float:left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

footer{
    clear:both;
    width:100%;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
}