label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid #000000;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

button {
  border-radius: 7px;
  background-color: #658ce5;
  font-family:'Indie Flower', cursive;
  margin-left: 490px;
  margin-right: auto;
  font-weight:bold;
} 
