@charset "utf-8";

html, body {
	background-color:#34495e;
}

header{
    width:100%;
    float:left;
    margin-bottom:25px;
    font-family: 'Indie Flower', cursive;
}


selection{
    width:100%;
    margin-left:120px;
    font-size: 150%;
    color:#696969;
    float:left;
    font-family: Century Gothic, sans-serif;
}


nav{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    float:left;
    margin-top:10px;
}

.nav-item{
    font-family:'Indie Flower', cursive;
    margin-left:25px;
    margin-right:25px;
    float:left;
    cursor:pointer;
    color:#696969;
}

.current-link {
     color:#000;
     font-weight:bold;
     pointer-events: none;
     cursor:default;
}

.nav-item a:hover{
    color:#e74c3c !important;
}

.nav-item a:link {
    text-decoration: none;
    color:#696969;
}

.nav-item a:visited {
    text-decoration: none;
    color:#696969;
}

/* Index */
    /* SLIDER */
#slider {
    margin:auto;
    width:100%;
    height:30%;
    background-color:grey;
    position:relative;
    overflow:hidden;
    border-top:1px solid grey;
    border-bottom:2px solid grey;
}

#image1 {
    background: url("../img/celebs/donaldjtrump.jpg") no-repeat center center;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    
    /* To make the size adjust */
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#image2 {
    background: url("../img/celebs/beyonce.jpg") no-repeat center center;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
    /* END Slider */
/* END Index */

#Profile_Pic {
    margin-left: 35em;
    margin-right: auto;
}

/*
    Section for BattleHistory stylesheet
*/

#B_W_T {
    font-size: 30;
    margin-left: 4em;
}

#B_Won {
    font-size: 30;
    margin-left:1em;
}


#B_F_T {
    font-size: 30;
    margin-left: 4em;
}

#B_Fought {
    font-size: 30;
    margin-left:1em;
}


#B_P_T {
    font-size: 30;
    margin-left: 4em;
}

#B_Percent {
    font-size: 30;
    margin-left:1em;
}

/*
    End of section
*/


#logo {
    float:left;
    padding-left:15px;
    padding-top:15px;
    font-size: 30px;
}

#wrapper{
    background:#FFF;
    width:1080px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    padding:0;
}

#game {
    margin-left:auto;
    margin-right:auto;
    margin-left:140px;
    float:left;
    background-image:url(../img/soccer-stadium-800x500.jpg);
}

#board {
    width:600px; 
    height:500px;
    float:left;
}

#tweetWrapper {
    background:rgba(207, 226, 243, 1);/*"#cfe2f3"*/;
    width:196px;
    height:496px;
    float:left;
    margin:0;
    border:2px solid #3c78d8;
    overflow-y:scroll;
}

.tweetBox {
    background:white;
    border:1px solid black;
    position:relative;
    height:auto;
    overflow:hidden;
    padding:10px;
}

.tweetBoxTitle {
    color:#3c78d8;
    font-weight:bold;
    text-align:center;
    width:100%;
    float:left;
    margin-top:5px;
}

.tweetBoxContent {
    margin-left:10px;
}

.tweetBoxAtText {
    font-weight:bold;
}

#select_char {
    text-align: center;
    border-style: solid;
}

#select_box {
    width: 150px;
    height: 20px;
    margin-left: 450px;
    margin-right: auto;
}

#hitBox {
    width:100%;
    height:auto;
    background:#000;
}

#hit1 {
    float:left;
    margin-left:360px;
    margin-right:auto;
    margin-top:10px;
}

#hit2 {
    float:left;
    margin-left:360px;
    margin-right:auto;
    margin-top:10px;
}

#username {
    float:right;
    color:#fff;
    background:#4099FF;
    padding:10px 20px 10px 20px;
    border-radius: 0 0 0 25px;
}

/* characters */

#character-list{
    width:69%;
    float:left;
    margin-left:3%;
    background:#ecf0f1;
    padding:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
    font-family: 'Indie Flower', cursive;
}

#character-cart{
    margin-left:3%;
    margin-right:3%;
    width:24%;
    background:#ecf0f1;
    float:left;
    padding:15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.celeb-box{
    width:21%;
    padding: 100px 5px 100px 5px;
    margin:10px 2% 10px 2%;
    outline:2px solid #34495e;
    float:left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

footer{
    clear:both;
    width:100%;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
}